@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*DETAILS*/
.profile {
    display: flex;
    padding-left: 80px;
    padding-top: 20px;
}
.profile_name img {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    margin-right: 50px;
}
.profile-info {
    display: flex;
    flex-direction: column;
    width: 1000px;
    position: relative;
}
.button-container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    gap: 10px;
}
.edit-button, 
.cancel-button {
    background-color: #2F3787;
    width: 100px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.edit-button h3, 
.cancel-button h3 {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
}
.edit-button:hover, 
.cancel-button:hover {
    background-color: #376FB7;
}
.profile-info table {
    margin-top: 20px;
    font-size: 20px;
}
.profile-info table td {
    padding: 5px 10px;
    border-color: #FFF;
}
.profile-info table th {
    padding-top: 5px 10px;
    text-align: left;
}

/*TABLE*/
.table {
    padding-left: 80px;
}
.table-container {
    text-align: center;
}
.table table {
    width: 94%;
    padding-top: 20px;
    border-collapse: collapse;
}
.table table td {
    border: 1px solid black;
}
.table td {
    padding: 8px;
}
.table table th {
    background-color: #FFEFD8;
    color: #2F3787;
    border: 1px solid black;
    position: relative;
}
.table th {
    padding: 8px;
}
.details2 {  
    font-weight: bold;
}
.details2 ion-icon {
    font-size: 20px;
    font-weight: bold;
    float: right;
}
.input2 {
    flex: 1;
    border: none;
    outline: none;
    padding: 3px;
    background-color: transparent;
    width: 100%;
    text-align: center;
}
.input3 {
    flex: 1;
    border: none;
    outline: none;
    padding: 3px;
    background-color: transparent;
    width: 100%;
    border: none;
}

.info{
    padding-top: 50px;
    padding-right: 5vh;
    float: right;
}
.info .btnAnnounce {
    font-size: 20px;
    width: 150px;
    height: 35px;
    background-color: #FFF0E0;
    border: .5%;
    border-radius: 10px;
}
.save-button {
    display: block;
    font-size: 20px;
    margin-top: 20px;
    background-color: #2F3787;
    width: 150px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 15px; 
    cursor: pointer;
    left: 50%;
}
.save-button:hover {
    background-color: #376FB7;;
}