@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*HEADER & FOOTER*/
.header {
    width: 100%;
    height: 110px;
    position: fixed;
    background: #3877BE;
    z-index: 1000;
}
.logo {
    width: 100%;
    height: 100px;
    background: #2F3787;
    overflow: auto;
    font-size: 13px;
    position: fixed;
    top:0;
    justify-content: center;
    text-align: center;
}
.logo img {
    padding-top: 10px;
    width: 60px;
    height: 70px;
}
.logo h1 {
    font-size: 15px;
    color: #FFF;
}
.footer {
    width: 100%;
    height: 50px;
    background: #2F3787;
    text-align: center;
    bottom: 0;
}
.footer h6 {
    font-size: 12px;
    font-weight: 300;
    padding-top: 15px;
    color: #FFF;
}

/*NAVIGATION BAR*/
nav {
    margin-top: 100px;
    width: 100%;
    height: 70px;
    background: #3877BE;
    font-size: 18px;
    position: fixed;
    top: 0;
    padding-left: 450px;
    z-index: 1000;
    overflow: hidden;
}
ul {
    padding: 0;
    margin: 0 0 0 150px; 
    list-style-type: none;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    font-weight: medium;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px ;
    text-decoration: none;
}
li a:hover {
    background-color: #FFEFD8;
    color: #21230e;
    font-weight: medium;
}
nav ul li a:hover:before {
    width: 100%;
    height: 100%;
}


/*LOG IN PAGE*/
section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
.image {
    position: relative;
    width: 50%;
    height: 100%;
}
.image:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contents {
    background-color: #FFEFD88F;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.forms {
    width: 50%;
}
.pic-logo {
    width: 30%;
    height: 30%;
}
.forms h2 {
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #2F3787;
    display: inline-block;
    letter-spacing: 1px;
}
.inputs {
    margin-bottom: 5px;
}
.inputs span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}
.inputs input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #000000;
    font-size: 16px;
    letter-spacing: 1px;
    color: #595959;
    background: transparent;
    border-radius: 30px;
}
.inputs input[type="submit"] {
    background: #039F00;
    color: #FFF;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
.inputs input[type="submit"]:hover {
    background: #028f00;
}
.inputs a {
    color: #000;
    font-size: 10px;
}

/*DASHBOARD*/
.container {
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
    padding-top: 2%;
}
.announce {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.announce-image {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}
.announce-image img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}
.announce-image:hover img {
    transform: scale(1.2);
}
.announce-content {
    flex: 1;
}
.announce-content h2 {
    font-size: 25px;
    margin-bottom: 15px;
    color: #2F3787;
    text-align: center;
}
.announce-content p {
    padding: 30px;
    font-size: 18px;
    line-height: 1.5;
    color: #000000;
    text-align: justify;
}

/*MY ACCOUNT*/
.btnLogOut {
    padding-top: 10%;
    padding-left: 30px;
}




/*MEDIA QUERY*/
@media (max-width: 768px) {
    .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .contents {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .forms {
        width: 100%;
        padding: 40px;
        background: #ffffffb8;;
        margin: 50px;
    }

    /*NAVIGATION BAR*/
    nav {
        padding-left: 0;
        overflow: scroll;
    }
    ul {
        margin-left: 0;
    }
    li {
        float: none;
        display: block;
        text-align: center;
    }
    li a {
        padding: 10px 20px;
    }


    /*DASHBOARD*/
    .container {
        padding-top: 40%;
        padding-left: 3%;
    }
    .announce {
        padding-top: 20px;
        flex-direction: column;
    }
    .announce-image {
        margin-right: 10px;
        padding-bottom: 20px;
    }
    .announce-content {
        padding-top: 0px;
        font-size: 16px;
        text-align: justify;
    }
}